.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --black-75-opacity: hsla(0, 0%, 0%, 0.75);
}
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
.show {
  display: block !important;
  transition: 0.3s !important;
}
.hide {
  display: none !important;
  transition: 0.3s !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.side-menu {
  display: none;
  top: 0;
  position: absolute;
  width: 50vw;
  height: 120vh;
  background-color: var(--White);
  padding: 1.5rem;
  transition: 0.3s !important;
  z-index: 99;
}
.close-sideMenu-button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.close-button {
  background-color: var(--Dark-grayish-blue);
  padding: 0.1rem;
  width: 1rem;
  cursor: pointer;
}
.side-menu {
  margin: 0;
}
.side-menu ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 9rem;
}
.side-menu ul li {
  cursor: pointer;
  font-weight: 900;
}
.shadow-div {
  display: none;
  background-color: var(--black-75-opacity);
  position: absolute;
  top: 0;
  margin-right: .25rem;
  width: 14rem;
  height: 80rem;
  padding: 5.5rem;
  z-index: 99;
}
nav {
  /* position: fixed; */
  margin-top: 0;
  width: 100%;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 7;
  margin-top: 0;
  min-width: 22.8rem;
  padding: .5rem 1rem .5rem 1rem;
  background-color: var(--White);
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
}
.ham-bun {
  background-color: var(--Dark-grayish-blue);
  padding: 0.1rem;
  width: 1rem;
}
.hamburgerMenu-and-logoContainer,
.cartIcon-and-imageAvatar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.image-avatar-container img {
  width: 1.5rem;
}
.cart-icon-container {
  cursor: pointer;
}
.quantity-indicator {
  z-index: 98;
  position: absolute;
  background-color: var(--Orange);
  width: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: 21rem;
  top: .25rem;
  display: none;
}
.cart-content-container {
  display: none;
}
.cart-content {
  position: absolute;
  z-index: 98;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: white;
  margin-left: 1rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
}
.cart-label {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
}
.cart-label-line {
  padding: 0.5px;
  background-color: var(--Grayish-blue);
}
.cart-selection {
  display: flex;
  gap: .5rem;
  margin-left: 1rem;
  align-items: center;
}
.selection-thumbnail img {
  width: 3rem;
}
.selection-details {
  width: 70%;
  line-height: 1.5rem;
  color: var(--Dark-grayish-blue);
}
.selection-details span {
  color: black;
}
.remove-from-cart {
  cursor: pointer;
}
.cart-empty {
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: white;
  margin-top: 4.5rem;
  z-index: 7;
}
.cart-empty p {
  text-align: center;
  margin-top: 1.5rem;
}
.checkout-button {
  background-color: var(--Orange);
  padding: 1rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
.slide-show-screen {
  position: relative;
  width: 100%;
}
.previous-arrow {
  position: absolute;
  background-color: var(--White);
  border-radius: 2rem;
  padding: 0.75rem 1rem .75rem 1rem;
  top: 13.25rem;
  left: 1rem;
  z-index: 5;
}
.previous-arrow:hover {
  cursor: pointer;
}
.next-arrow {
  position: absolute;
  background-color: var(--White);
  border-radius: 2rem;
  padding: 0.75rem 1rem .75rem 1rem;
  right: 0rem;
  top: 13rem;
  z-index: 5;
}

.next-arrow:hover {
  cursor: pointer;
}
.products {
  position: absolute;
  width: 25rem;
  height: 23rem;
  z-index: 4;
  margin-top: 2.9rem;
}

/* javascript functionality classes for the slide show */
.z-index-5 {
  z-index: 5 !important;
}

/* moving on */
.sneaker-company {
  padding-top: 27rem;
  margin-left: 1rem;
  color: var(--Dark-grayish-blue);
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
}
.product-detail {
  margin-left: 1rem;
}
.product-detail h1 {
  margin-bottom: 0.05rem;
  width: 80%;
}
.product-detail p {
  color: var(--Dark-grayish-blue);
  margin-top: 0.5rem;
  width: 90%;
  line-height: 1.5rem;
}
.pricing-container {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  align-items: center;
}
.new-price-and-discount-container {
  display: flex;
  gap: 1rem;
}
.new-price {
  font-size: 25px;
  font-weight: 900;
}
.discount-container {
  display: flex;
  align-items: center;
  color: white;
  padding: .25rem .5rem;
  border-radius: 0.5rem;
  background-color: black;
  font-weight: 600;
}
.original-price {
  color: var(--Dark-grayish-blue);
  font-weight: 550;
  text-decoration: line-through;
}
.quantity-selector {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--Light-grayish-blue);
  padding: 1rem;
}
.quantity {
  color: black;
  font-weight: bold;
  cursor: none;
}
#plusIcon {
  cursor: pointer;
}
#minusIcon {
  cursor: pointer;
}
.add-to-cart-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  background-color: var(--Orange);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.add-to-cart {
  color: var(--Very-dark-blue);
  font-weight: bold;
}

